@model Project_Recruiment_Huce.Areas.Admin.Models.BankCardListVm
@Html.Partial("~/Areas/Admin/Views/Shared/_Breadcrumbs.cshtml")

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header"><h5 class="card-title">Thẻ ngân hàng</h5></div>
      <div class="card-body">
        <div class="row mb-2"><div class="col-4 text-secondary">Công ty</div><div class="col-8">@Model.CompanyName</div></div>
        <div class="row mb-2"><div class="col-4 text-secondary">Số thẻ</div><div class="col-8">@Model.MaskedNumber</div></div>
        <div class="row mb-2"><div class="col-4 text-secondary">Ngân hàng</div><div class="col-8">@Model.BankName</div></div>
        <div class="row mb-2"><div class="col-4 text-secondary">Trạng thái</div><div class="col-8">@(Model.Active?"Hoạt động":"Ngừng")</div></div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>


