@model Project_Recruiment_Huce.Areas.Admin.Models.ApplicationListVm
@Html.Partial("~/Areas/Admin/Views/Shared/_Breadcrumbs.cshtml")

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header"><h5 class="card-title">Hồ sơ ứng tuyển</h5></div>
      <div class="card-body">
        <div class="row mb-2"><div class="col-4 text-secondary">ID</div><div class="col-8">@Model.ApplicationId</div></div>
        <div class="row mb-2"><div class="col-4 text-secondary">Ứng viên</div><div class="col-8">@Model.CandidateName</div></div>
        <div class="row mb-2"><div class="col-4 text-secondary">Công việc</div><div class="col-8">@Model.JobTitle</div></div>
        <div class="row mb-2"><div class="col-4 text-secondary">Nộp lúc</div><div class="col-8">@Model.AppliedAt.ToString("dd/MM/yyyy")</div></div>
        <div class="row mb-2"><div class="col-4 text-secondary">Trạng thái</div><div class="col-8">@Html.Partial("~/Areas/Admin/Views/Shared/_StatusBadge.cshtml", System.Tuple.Create(Model.AppStatus, "Applications"))</div></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card"><div class="card-header"><h6 class="mb-0">Liên quan</h6></div>
      <div class="card-body">
        <a class="btn btn-outline-primary btn-sm" href="@Url.Action("Details","Candidates", new { area="Admin", id = 1 })">Ứng viên</a>
        <a class="btn btn-outline-primary btn-sm" href="@Url.Action("Details","JobPosts", new { area="Admin", id = 1 })">Công việc</a>
      </div>
    </div>
  </div>
</div>


