@model List<Project_Recruiment_Huce.Areas.Admin.Models.CertificateListVm>
@Html.Partial("~/Areas/Admin/Views/Shared/_Breadcrumbs.cshtml")
@Html.Partial("~/Areas/Admin/Views/Shared/_TableToolbar.cshtml", (Request["q"] ?? ""))

<div class="card mb-4">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <thead><tr>
        <th>Tên chứng chỉ</th><th>Tổ chức</th><th>Lĩnh vực</th><th>Chuyên ngành</th>
      </tr></thead>
      <tbody>
      @foreach (var item in Model) {
        <tr>
          <td>@item.CertificateName</td>
          <td>@item.Issuer</td>
          <td>@item.Industry</td>
          <td>@item.Major</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>


